<?xml version="1.0" encoding="utf-8"?>
<!--配置示例(policyType的值1代表ip、2代表clientkey、3代表端点)-->
<!--
limitPerSecond="100" 秒
limitPerMinute="10"  分
limitPerHour="30"  时
limitPerDay="300"  天
limitPerWeek ="1500"  周
-->
<throttlePolicy limitPerSecond="100" ipThrottling="false" clientThrottling="false" endpointThrottling="true">
  <rules>
    <!--Ip 规则-->
    <!--<add policyType="1" entry="127.0.0.1" limitPerMinute="12" />-->
    <!--Client 规则-->
    <!--<add policyType="2" entry="api-client-key-1" limitPerHour="60" />-->
    <!--Endpoint 规则-->
    <!--<add policyType="3" entry="api/member/getmemberinfo" limitPerSecond="100" />-->
  </rules>
  <whitelists>
    <!--Ip 白名单-->
    <!--<add policyType="1" entry="127.0.0.1" />-->
    <!--<add policyType="1" entry="192.168.0.0/24" />-->
    <!--Client 白名单-->
    <!--<add policyType="2" entry="api-admin-key" />-->
  </whitelists>
</throttlePolicy>