@using System.Web.Http
@using Demo.Areas.HelpPage.Models
@model HelpPageApiModel

@{
    var description = Model.ApiDescription;
   
    ViewBag.Title = description.HttpMethod.Method + " " + description.RelativePath;
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">        
            <p style="margin-top:20px">
                <button type="button" class="btn btn-default" onclick="history.go(-1)">·µ»Ø</button>
                <button type="button" class="btn btn-default" onclick="window.open('@Url.Action("Index","TestApi")')">²âÊÔ½Ó¿Ú</button>
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @Html.DisplayForModel()
    </section>
</div>
